html, body{
    padding: 0;
    margin: 0;
}
#container {
    background-color: orange;
    max-width: 1280px;
    margin: 0 auto;
}

header{
    background-color: blueviolet;
    height: 60px;
}

section{
    background-color: green;
    display: flex;
}

nav{
    background-color: beige;
    width: 25%;
}
article{
    background-color: aquamarine;
    width: 75%;
    height: 80px;
}

footer{
    background-color: pink;
    height: 120px;
}