html, body{
    padding: 0;
    margin: 0;
}
#container {
    background-color: orange;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav article article article"
    "footer footer footer footer"
    ;
}

header{
    background-color: blueviolet;
    height: 60px;
    grid-area: header;
}

nav{
    background-color: beige;
    grid-area: nav;
}
article{
    background-color: aquamarine;
    height: 80px;
    grid-area: article;
}

footer{
    background-color: pink;
    height: 120px;
    grid-area: footer;
}